body {
  background-image: url(images/blue.jpg);
  background-position: cover;
  background-repeat: no-repeat;
  font-family: Arial, Helvetica, sans-serif;

}

.navbar {
  overflow: hidden; /* Hide overflow */
  background-color: rgba(0, 0, 0, 0.65);
}

/* Style the navigation bar links */
.navbar a {
  float: left; 
  display: block; 
  color: white; 
   
  padding: 14px 50px;
  text-decoration: none;
  
}


.navbar a.right {
  float: right; 
}

.navbar a:hover {
  background-color: rgba(255,255,255, 0.3);
  color: skyblue;
}

.navbar a.active {
  background-color: #12833ec7;
  color: white;
}
form {
  border: white;
    max-width: 450px;
    margin: 0 auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9);
    background-color: back;
    border-radius: 2%;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: seagreen;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 35%;

}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: seagreen;
}

.navbar a.active {
  background-color: #12833ec7;
  color: white;
}
  
.container {
  padding: 16px;
  color: white;
}

.container1 {
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 400px;
  margin: auto;
  text-align: center;
}

span.psw {
  float: right;
  padding-top: 16px;
}

span a {
  color: white;
  
}

.sign {
  color: whitesmoke;
  text-decoration: none;
  margin-left: 40px;
  
}

a {
  float: right;
  margin-right: 70px;
  text-decoration: none;
}

a:hover {
  color: skyblue;
}

h2 {
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
  margin-left: 20px;
}

footer {
  background-color: rgba(0, 0, 0, 0.541);
  text-align: center;
  color: white;
  width: 100%;
    }

.credits, a {
  color: white;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}

